In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
file = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQRp2K84U9vl_vDKZMWfrh8Sx7R628KOJvTKiOMyaS3BP60rrr0XtnxyvWkm7QsNg/pub?output=csv')

In [5]:
file.head()

,Dataset for People for their Blood Glucose Level with their Superficial Body Feature readings. Age,Blood Glucose Level(BGL),Diastolic Blood Pressure,Systolic Blood Pressure,Heart Rate,Body Temperature,SPO2,Sweating (Y/N),Shivering (Y/N),Diabetic/NonDiabetic (D/N)
0,9,79,73,118,98,98.300707,99,0,0,N
1,9,80,73,119,102,98.300707,94,1,0,N
2,9,70,76,110,81,98.300707,98,1,0,N
3,9,70,78,115,96,98.300707,96,1,0,N
4,66,100,96,144,92,97.807052,98,0,0,N

In [6]:
file.describe()

,Dataset for People for their Blood Glucose Level with their Superficial Body Feature readings. Age,Blood Glucose Level(BGL),Diastolic Blood Pressure,Systolic Blood Pressure,Heart Rate,Body Temperature,SPO2,Sweating (Y/N),Shivering (Y/N)
count,16969.000000,16969.000000,16969.000000,16969.000000,16969.000000,16969.000000,16969.000000,16969.000000,16969.000000
mean,30.988862,95.733455,77.173493,118.187165,91.524191,97.356146,97.382403,0.121692,0.145560
std,25.585606,42.990277,7.241511,7.700363,10.409780,0.813555,0.848689,0.326940,0.352674
min,9.000000,50.000000,60.000000,95.000000,78.000000,96.000132,93.000000,0.000000,0.000000
25%,9.000000,68.000000,71.000000,113.000000,84.000000,96.674465,97.000000,0.000000,0.000000
50%,14.000000,83.000000,76.000000,119.000000,89.000000,97.326523,98.000000,0.000000,0.000000
75%,55.000000,108.000000,83.000000,124.000000,95.000000,97.949904,98.000000,0.000000,0.000000
max,77.000000,250.000000,98.000000,145.000000,130.000000,98.999792,99.000000,1.000000,1.000000

In [7]:
file.isna().sum()

Dataset for People for their Blood Glucose Level with their Superficial Body Feature readings. Age    0
Blood Glucose Level(BGL)                                                                              0
Diastolic Blood Pressure                                                                              0
Systolic Blood Pressure                                                                               0
Heart Rate                                                                                            0
Body Temperature                                                                                      0
SPO2                                                                                                  0
Sweating  (Y/N)                                                                                       0
Shivering (Y/N)                                                                                       0
Diabetic/NonDiabetic (D/N)                                                                            0
dtype: int64

In [8]:
file.isnull().sum()

Dataset for People for their Blood Glucose Level with their Superficial Body Feature readings. Age    0
Blood Glucose Level(BGL)                                                                              0
Diastolic Blood Pressure                                                                              0
Systolic Blood Pressure                                                                               0
Heart Rate                                                                                            0
Body Temperature                                                                                      0
SPO2                                                                                                  0
Sweating  (Y/N)                                                                                       0
Shivering (Y/N)                                                                                       0
Diabetic/NonDiabetic (D/N)                                                                            0
dtype: int64

In [9]:
features = file.rename(
    columns = {
        "Dataset for People for their Blood Glucose Level with their Superficial Body Feature readings. Age" : "Age",
        "Blood Glucose Level(BGL)" : "Glucose",
        "Diastolic Blood Pressure" : "Diastolic_BP",
        "Systolic Blood Pressure" : "Systolic_BP",
        "Sweating  (Y/N)" : "Sweating",
        "Shivering (Y/N)" : "Shivering",
        "Diabetic/NonDiabetic (D/N)" : "DiaOrNot"
    }
)

In [10]:
features.head()

,Age,Glucose,Diastolic_BP,Systolic_BP,Heart Rate,Body Temperature,SPO2,Sweating,Shivering,DiaOrNot
0,9,79,73,118,98,98.300707,99,0,0,N
1,9,80,73,119,102,98.300707,94,1,0,N
2,9,70,76,110,81,98.300707,98,1,0,N
3,9,70,78,115,96,98.300707,96,1,0,N
4,66,100,96,144,92,97.807052,98,0,0,N

In [11]:
features.Glucose

0         79
1         80
2         70
3         70
4        100
        ...
16964     72
16965     84
16966     82
16967     83
16968     83
Name: Glucose, Length: 16969, dtype: int64

In [12]:
features.Glucose.max()

250

In [13]:
features.Glucose.min()

50

In [14]:
features.DiaOrNot.value_counts()

D    16641
N      328
Name: DiaOrNot, dtype: int64

In [17]:
D=0
N=0

for i in range(len(features.DiaOrNot)):
  if (features.DiaOrNot[i]) == "D":
    D+=1
  else:
    N+=1

print(D)
print(N)

16641
328

In [18]:
D=0
N=0

while i in range(len(features.DiaOrNot)):
  if (features.DiaOrNot[i]) == "D":
    D+=1
  else:
    N+=1

print(D)
print(N)

KeyboardInterrupt: ignored

In [22]:
from sklearn.model_selection import train_test_split

In [25]:
X = features.drop(columns = {'Glucose','DiaOrNot'})

In [26]:
X

,Age,Diastolic_BP,Systolic_BP,Heart Rate,Body Temperature,SPO2,Sweating,Shivering
0,9,73,118,98,98.300707,99,0,0
1,9,73,119,102,98.300707,94,1,0
2,9,76,110,81,98.300707,98,1,0
3,9,78,115,96,98.300707,96,1,0
4,66,96,144,92,97.807052,98,0,0
...,...,...,...,...,...,...,...,...
16964,9,87,127,90,96.842657,97,0,0
16965,9,79,117,80,97.869454,98,0,0
16966,9,82,116,93,96.766282,98,0,0
16967,9,86,128,91,98.941036,98,0,0
16968,9,85,117,79,97.570685,97,0,0

In [27]:
Y = features.Glucose

In [28]:
Y

0         79
1         80
2         70
3         70
4        100
        ...
16964     72
16965     84
16966     82
16967     83
16968     83
Name: Glucose, Length: 16969, dtype: int64

In [39]:
from sklearn.preprocessing import StandardScaler
scalar = StandardScaler()

In [40]:
scalar.fit(X)

StandardScaler()

In [41]:
standarized_data = scalar.transform(X)

In [43]:
X = standarized_data

In [44]:
X

array([[-0.85944848, -0.57634595, -0.02430669, ...,  1.90605148,
        -0.37222763, -0.41274275],
       [-0.85944848, -0.57634595,  0.10556114, ..., -3.98556343,
         2.68652813, -0.41274275],
       [-0.85944848, -0.16205559, -1.06324937, ...,  0.7277285 ,
         2.68652813, -0.41274275],
       ...,
       [-0.85944848,  0.66652513, -0.28404236, ...,  0.7277285 ,
        -0.37222763, -0.41274275],
       [-0.85944848,  1.21891228,  1.27437166, ...,  0.7277285 ,
        -0.37222763, -0.41274275],
       [-0.85944848,  1.08081549, -0.15417453, ..., -0.45059449,
        -0.37222763, -0.41274275]])

In [45]:
Y

0         79
1         80
2         70
3         70
4        100
        ...
16964     72
16965     84
16966     82
16967     83
16968     83
Name: Glucose, Length: 16969, dtype: int64

In [46]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.25, stratify=Y)

In [47]:
X_train

array([[-0.85944848,  0.25223477,  0.75490032, ...,  0.7277285 ,
        -0.37222763, -0.41274275],
       [-0.66402034, -2.37160418, -0.4139102 , ...,  0.7277285 ,
        -0.37222763,  2.42281664],
       [-0.85944848, -0.0239588 ,  0.36529681, ...,  0.7277285 ,
        -0.37222763, -0.41274275],
       ...,
       [-0.62493471, -0.16205559, -0.54377803, ...,  0.7277285 ,
        -0.37222763, -0.41274275],
       [-0.66402034, -1.26682989, -1.19311721, ..., -1.62891747,
        -0.37222763, -0.41274275],
       [-0.85944848, -0.57634595,  1.4042395 , ...,  1.90605148,
        -0.37222763, -0.41274275]])

In [48]:
X_test

array([[-0.85944848, -1.1287331 ,  0.10556114, ..., -0.45059449,
         2.68652813,  2.42281664],
       [ 0.58671975,  1.08081549, -1.06324937, ...,  1.90605148,
        -0.37222763, -0.41274275],
       [-0.4685922 ,  1.08081549,  1.27437166, ...,  1.90605148,
        -0.37222763, -0.41274275],
       ...,
       [-0.4685922 , -0.85253953, -1.06324937, ..., -0.45059449,
        -0.37222763, -0.41274275],
       [ 0.9384904 , -0.30015238,  0.10556114, ..., -1.62891747,
        -0.37222763, -0.41274275],
       [-0.85944848,  1.35700907,  0.62503248, ..., -0.45059449,
        -0.37222763, -0.41274275]])

In [49]:
Y_train

14964     71
467       51
16083     75
3748      68
11996    117
        ...
16197     84
8994      98
13090    125
4572      68
7918      91
Name: Glucose, Length: 12726, dtype: int64

In [50]:
Y_test

3952      68
9063      98
13704    129
10898    110
13088    125
        ...
2429      65
7892      90
7034      85
1880      63
6690      83
Name: Glucose, Length: 4243, dtype: int64

In [51]:
from sklearn import svm

In [52]:
svm = svm.SVC(kernel = 'linear')

Work with training data

In [53]:
svm.fit(X_train,Y_train)

SVC(kernel='linear')

In [55]:
Train_Predict = svm.predict(X_train)

In [58]:
from sklearn.metrics import accuracy_score

In [74]:
Train_Acc = accuracy_score(Train_Predict, Y_train)

In [76]:
Train_Acc = "{:.4f}".format(Train_Acc*100)
print(Train_Acc)

18.4818

Work with Test Data

In [61]:
svm = svm.fit(X_test, Y_test)

In [62]:
Test_Predict = svm.predict(X_test)

In [80]:
Test_Acc = accuracy_score(Test_Predict,Y_test)

In [81]:
Test_Acc = "{:.4f}".format(Test_Acc*100)
print(Test_Acc)

19.6323

In [83]:
print("Testing Accuracy is {a}% & Trainig Accuracy is {b}%" .format(a= Train_Acc, b = Test_Acc))

Testing Accuracy is 18.4818% & Trainig Accuracy is 19.6323%

Now, test with data

In [102]:
# Check = (9,84,110,94,98.64998113,98,0,0)
Check = (9, 75,125,92,98.14764129,98,0,0)

In [103]:
Array = np.asarray(Check)
Array

array([  9.        ,  75.        , 125.        ,  92.        ,
        98.14764129,  98.        ,   0.        ,   0.        ])

In [104]:
Reshape = Array.reshape(1,-1)

In [105]:
Reshape

array([[  9.        ,  75.        , 125.        ,  92.        ,
         98.14764129,  98.        ,   0.        ,   0.        ]])

In [106]:
Transform = scalar.transform(Reshape)
Transform

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

array([[-0.85944848, -0.30015238,  0.88476815,  0.04570921,  0.97291376,
         0.7277285 , -0.37222763, -0.41274275]])

In [107]:
Output = svm.predict(Transform)

In [108]:
print("Glucose level is", float(Output))

Glucose level is 76.0